
body{
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.alert-login{
    padding: 6px 12px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.text-color-999{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
